<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <title>@ViewData["Title"] - MvcDirectory</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/cropper.css" rel="stylesheet"> <!-- Buradaki yol, projenize göre değişebilir -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script src="https://kit.fontawesome.com/c128483078.js" crossorigin="anonymous"></script>

</head>

<body>

    <header style="height: 50px;">
        <nav class="navbar navbar-expand-lg navbar-light box-shadow" style="opacity:1;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #333;">@*Home*@</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #333;">@*Privacy*@</a>
                        </li>
                        <!-- Sosyal medya ikonları buraya ekleniyor -->
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/yigityalciin" target="_blank" style="color: #ffffff; opacity: 1;">
                                <i class="fab fa-twitter"></i> <!-- Twitter ikonu -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/yigityalcin" target="_blank" style="color: #ffffff; opacity: 1;">
                                <i class="fab fa-github"></i> <!-- GitHub ikonu -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://linkedin.com/in/yigityalciin" target="_blank" style="color: #ffffff; opacity: 1;">
                                <i class="fab fa-linkedin"></i> <!-- LinkedIn ikonu -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>





    <div class="container">

        @if (TempData["BasariliMesaj"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["BasariliMesaj"]
            </div>
        }
        @if (TempData["HataliMesaj"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["HataliMesaj"]
            </div>
        }

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer-distributed">

        <div class="footer-right">

            <a href="~/images/zuckerberg.jpg"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

        <div class="footer-left">

            <p class="footer-links">
                <a class="link-1" href="#">Home</a>

                <a href="#">Blog</a>

                <a href="#">About</a>

                <a href="#">Contact</a>
            </p>

            <p>Creamobile &copy; 2007</p>
        </div>

    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
