body {
    background-image: url('/images/background3.jpg');
    background-size: cover;
}

table thead {
    background-color: aqua;
}

.card-body {
    background-color: #f5f7f6;
}
#imageContainer {
    max-width: 100%;
    height: 400px; /* Set the desired height for the cropping area */
    overflow: hidden;
    margin-bottom: 20px;
}

#cropperImage {
    display: block;
    max-width: 100%;
}

#cropButton,
#chooseImageButton {
    margin-right: 10px;
}

#croppedImagePreview {
    max-width: 100%;
}

/*footer*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section1 {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background-color: #091E3E;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 14px sans-serif;
    padding: 35px 160px;
}

    .footer-distributed .footer-left p {
        color: #8f9296;
        font-size: 14px;
        margin: 0;
    }
    /* Footer links */

    .footer-distributed p.footer-links {
        font-size: 18px;
        /*font-weight: bold;*/
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
        transition: ease .25s;
    }

        .footer-distributed p.footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
            transition: ease .25s;
        }

    .footer-distributed .footer-links a:before {
        content: "·";
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
    }

    .footer-distributed .footer-links .link-1:before {
        content: none;
    }

    .footer-distributed .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;
    }

        .footer-distributed .footer-right a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-left: 3px;
            transition: all .25s;
        }

            .footer-distributed .footer-right a:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }

    .footer-distributed p.footer-links a:hover {
        text-decoration: underline;
    }

/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

/*update sayfası*/



/*deneme sayfa açılış*/
    

/*.form-group {
    
}
html, body {
    height: 100%;
    margin: 0;
}*/

/*.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}*/

/*main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}*/


/*deneme css*/

/*ındex sayfası*/
.index-title {
    color: #000;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

    .index-title:hover {
        transform: translateY(-5px);
    }

.add-button {
    background-color: #0185d0;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
    border: 2px solid;
}

    .add-button:hover {
        background-color: #0056b3;
    }

.detail-button {
    background-color: #0ac494;
}

.delete-button {
    background-color: #f25f5c;
}

/* Update button styles */
.update-button {
    background-color: #50514f;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    border-color: white;
}

    .update-button:hover {
        background-color: #42453d;
    }

.clear-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; /* Adjust the margin as needed to create the desired space */
}

.search-form-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

/* Adjust the width of the search input */
#searchName {
    width: 200px; /* Adjust the width as needed */
}

/* Adjust the position of the search button */
#search-button {
    background-color: #50514f;
    margin-left: 5px; /* Adjust the margin as needed */
    width: 100px;
}

.table-container {
    margin-top: 20px;
    opacity: 0.3;
}



.custom-checkbox + label {
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.table tbody td {
    height: 60px;
    vertical-align: middle;
    opacity: 1;
}

.rounded-img {
    width: 60px;
}

    .rounded-img img {
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
    }


/* Font Awesome for icons */
.no-photo i {
    color: #757575;
}

.custom-table {
    background-color:#ffffff;
}