table thead {
    background-color: aqua;
}

.card-body {
    background-color: #f5f7f6;
}
#imageContainer {
    max-width: 100%;
    height: 400px; /* Set the desired height for the cropping area */
    overflow: hidden;
    margin-bottom: 20px;
}

#cropperImage {
    display: block;
    max-width: 100%;
}

#cropButton,
#chooseImageButton {
    margin-right: 10px;
}

#croppedImagePreview {
    max-width: 100%;
}

/*.form-group {
    
}
html, body {
    height: 100%;
    margin: 0;
}*/

/*.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}*/

/*main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}*/