/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

table thead {
    background-color: aqua;
}
/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*body {
    
    background-color: #fff !important;


}

.clear-search {
    background-color: peachpuff;
}*/
/*.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    font-size: 14px;
}
.search-form-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}*/

/* Adjust the width of the search input */
/*#searchName {
    width: 200px;*/ /* Adjust the width as needed */
/*}*/

/* Adjust the position of the search button */
/*#search-button {
    margin-left: 5px;*/ /* Adjust the margin as needed */
/*}*/

/* Adjust the position of the clear search button */
/*.clear-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;*/ /* Adjust the margin as needed to create the desired space */
/*}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    position: relative;
    min-height: 100%;
}

body {*/
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*}*/
